/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
body{
    background: pink;
    color: white;
}

header {
    padding: 20px;
}

h1 {
    display: inline;
}

nav {
    float: right;
    display: flex;
    height: 50px;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 15px;
}

.btn-all{
    background: rgba(203,39,124,0.8);
    color: white;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding:10px;
    border-radius: 3rem;
}

.btn-all:hover{
    background: rgba(122,99,144,0.677);
    cursor: pointer;
}